.course-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 40px 30px;
  gap: 30px;
}

.courses-table {
  border-collapse: collapse;
  background-color: #ececec;
  font-size: 14px;
  width: 800px;
}

.courses-table tr {
  height: 20px;
}

.courses-table th,
.courses-table td {
  border: 1px solid black;
  padding: 10px;
}

.courses-table th {
  background-color: #6d83a3;
}

.course-id {
  color: #446799;
  font-style: italic;
  font-weight: 700;
}
