.user-details {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 40px 25px;
  width: 390px;
  box-shadow: 0 0 10px #ccc;
  background-color: #f6f6f6;
  color: #666;
}

.user-profile-pic {
  width: 130px;
  height: 150px;
  filter: grayscale(90%);
  object-fit: cover;
  object-position: center;
  border: 1px solid #888;
}

.user-info {
  display: flex;
  font-weight: 300;
  align-items: center;
  gap: 15px;
  padding: 30px 0;
  border-bottom: 1px dotted #555;
  border-top: 1px dotted #555;
}

.user-info h3 {
  color: #000;
}

.signout-btn {
  width: 100%;
  border-radius: 3px;
  padding: 10px;
  border: none;
  margin-top: auto;
}

@media (max-width: 480px) {
  .user-details {
    gap: 20px;
    width: 100%;
    box-shadow: 0px 5px 5px #ccc;
    flex-direction: row;
    padding: 20px;
  }

  .user-profile-pic {
    width: 80px;
    height: 95px;
  }

  .user-info {
    gap: 15px;
    padding: 10px 0;
  }
  .user-details {
    font-size: 8px;
  }

  .signout-btn {
    width: 75px;
    height: 100%;

    margin-bottom: auto;
  }
  .sdu-logo {
    width: 70px;
  }
}
