.user-details {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 40px 25px;
  width: 440px;
  box-shadow: 5px 0px 5px #ccc;
  color: #666;
}

.user-profile-pic {
  width: 130px;
  height: 150px;
  filter: grayscale(90%);
  object-fit: cover;
  object-position: center;
  border: 1px solid #888;
}

.user-info {
  display: flex;
  font-weight: 300;
  align-items: center;
  gap: 15px;
  padding: 30px 0;
  border-bottom: 1px dotted #555;
  border-top: 1px dotted #555;
}

.user-info h3 {
  color: #000;
}

.signout-btn {
  width: 100%;
  border-radius: 3px;
  border: none;
  margin-top: auto;
}

@media (max-width: 480px) {
  .user-details {
    gap: 20px;
    width: 100%;
    box-shadow: 0px 5px 5px #ccc;
    padding: 20px;
  }
}
