@import url("../CoursesTable/CoursesTable.css");

.courses-table {
  width: 760px;
}

.approve-btn {
  background-color: rgba(51, 178, 72, 0.171);
}

.deny-btn {
  background-color: rgba(223, 44, 20, 0.132);
}

.deny-btn:hover {
  background-color: rgba(223, 44, 20, 0.882);
}

.approve-btn:hover {
  background-color: rgba(51, 178, 72, 0.942);
}

.approve-btn,
.deny-btn {
  margin-bottom: 1px;
  font-weight: 600;
  color: #000;
  border: 0.2px solid #888;
}

.action {
  max-width: 150px;
}

.action img {
  width: 20px;
  height: 20px;
  margin: 0 3px;
  filter: grayscale();
  transition: 0.2s ease-out;
}

.action img:hover {
  cursor: pointer;
  transform: scale(1.2);
  filter: brightness(85%);
}

.action img.active {
  filter: brightness(100%);
}

.request-explanation {
  max-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

/* for tooltip */

.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip-arrow {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #758aa8;
  transform: rotate(45deg);
  bottom: 17px;
  left: 35px;
}

.tooltip-content {
  position: absolute;
  width: 250px;
  font-size: 12px;
  color: white;
  background-color: #111;
  border: 1.5px solid #758aa8;
  text-align: center;
  padding: 15px 10px;
  border-radius: 6px;
  z-index: 1;

  /* Position the tooltip */
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 5px;
}
