.sidebar {
  width: 300px;
  background: #40526c;
  color: #fff;
}

.sidebar h2 {
  text-align: center;
  padding: 25px 15px;
}

.sidebar ul li a {
  display: block;
}

.sidebar ul li {
  height: 60px;
  padding: 15px;
  background-color: #5f738f;
  border: 1px solid #99adc9;
}

.sidebar ul li:hover {
  background-color: #273c5a;
  border: 2px solid #99adc9;
}

/* For smartphones, portrait iPhone, portrait 480x320 phones (Android) */
@media (min-width: 320px) {
}

/* For smartphones, Android phones, landscape iPhone */
@media (min-width: 480px) {
}

/* For portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
@media (min-width: 600px) {
}
