.sidebar {
  width: 400px;
  background: #40526c;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  overflow-y: scroll;
  padding: 10px 0 40px 0;
}

.sidebar ul {
  width: 100%;
}

.sidebar ul li a {
  display: block;
}

.sidebar ul li {
  height: 60px;
  padding: 15px;
  background-color: #5f738f;
  border: 1px solid #99adc9;
}

.sidebar ul li:hover {
  background-color: #273c5a;
  border: 2px solid #99adc9;
}

@media (max-width: 480px) {
  .sidebar {
    width: 100%;
    padding: 10px 0 0 0;
    box-shadow: 0px 5px 15px #888;
    position: fixed;
    top: 0;
    z-index: 999;
  }

  .sidebar ul {
    display: flex;
  }

  .sidebar ul li {
    width: 100%;
    height: auto;
    font-size: 12px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
