.confirm-permission-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00000081;
}

.confirmation-dialogue {
  padding: 20px 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 600px;
  height: 200px;
  background-color: #eee;
  border: 5px solid rgba(117, 157, 231, 0.712);
}

.buttons {
  display: flex;
  gap: 5px;
}

.message {
  text-align: center;
}

.permitted-message {
  color: #444;
  width: 80%;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  padding: 8px 20px;
  border-radius: 20px;
  background-color: #e7e7e7;
  margin-bottom: 5px;
}
