.login {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #fff;
  width: 37vw;
  min-width: 350px;
  padding: 60px 40px;
  border-radius: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-size: 15px;
}

.form > label > input {
  margin-top: 7px;
  width: 100%;
  padding: 8px 15px;
  border-radius: 20px;
  font-size: 14px;
  border: 1px solid #eee;
  font-family: "Poppins", sans-serif;
  background-color: rgba(243, 243, 243, 0.89);
}

.form > button {
  border-radius: 20px;
  padding: 10px 20px;
  border: 1.5px solid #111;
  background-color: #40526c;
  color: #fff;
}

/* .form > button:hover {
  box-shadow: 4px 4px 6px #bbb;
  transform: translate3d(-1px, -1px, 0);
} */

.form-title > h1 {
  font-size: 28px;
  padding-bottom: 10px;
}

.error-msg {
  color: #ee0000;
  font-size: 14px;
}

@media (max-width: 768px) {
  .login {
    max-width: 700px;
    height: 470px;
    gap: 6px;
  }
}
